* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 600px;
}
.container .header {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.resetBtn {
  background: #332b4b;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.resetBtn:hover{
  background-color: azure;
  color: #0f172a;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info span {
  font-size: 14px;
  color: #cbd5f5;
}

button {
  background: #ef4444;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #dc2626;
}
